/* ------------------------------------
   Body
*/
body {
  font-family: 'PT Mono', monospace;
}

h2 {
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;
}


.navbar.bg-dark {
  background-color: black !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}


/* ------------------------------------
   Jumbotron
*/
.jumbotron.jumbotron-fluid {
  background-image: linear-gradient(to bottom, #6c98dd,white);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: black;
}


/* ------------------------------------
   -text Me
*/
.my_photo {
  background-size: 260px 280px;
  background-image: url("../images/silvio_ortiz.jpg");
  background-position:center;
  background-repeat:no-repeat;
  height: 320px;  
  width:260px;
  border-radius: 15px;
}

.col-md-4 {
  left:10%;
  padding-left: 20px;
}

.col-md-8 {
  padding-left: 20px;

}

.about-text-title {
  font-size: 30px;
  font-weight: bold;
}


/* ------------------------------------
   section
*/
.section {
  margin-top: 100px;
}



.pics img {
  display: block;
  height: 150px;
  margin: auto;
}

.projects-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}


.project1 {
  width: 50%;
  margin-left:10px;

}

.p1_title {
  font-size:22px;
  font-weight: bold;
  color:purple;


}
.commodity_description {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
  position: absolute;
  width: 20%;
  margin-left: 5%;

}

.commodity_app_photo{

  background-size: cover;
  background-image: url("../images/commodity_shiny_app.jpg");
  background-position:center;
  background-repeat:no-repeat;
  height: 400px;  
  width:350px;
  margin-left: 60%;
  border-radius: 15px;

}



footer {
  position:absolute;
  bottom:0px;
  left:10px;
  width:100%;
  margin-top: 100px;
  padding-left: 40px;
  background-color: black;
  color: white;
  height: 60px;
  display: flex;
  padding-top: 15px;
}


.footer ul {
  list-style-type: none;
}

.footer li {
  display: inline;
}