<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Silvio Projects</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet"> <!-- Used for font design -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet"> <!-- Used for font design -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css"> 

  </head>

  <body>


    <section>
      <header>
        <!-- fixed-top makes the navbar stick to the top of the screen as the user is scrolling -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

          <div class="collapse navbar-collapse">
            <!-- removing ml-auto below makes content of navbar to the left, but not the logo -->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tutorials.html">Tutorials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="my_photos.html">Photos</a>
              </li>
            </ul>
            <!---
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/index.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects.html">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tutorials.html">Tutorials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my_photos.html">Photos</a>
              </li>
            </ul> -->

          </div>
        </nav>
      </header>
    </section>


        <!--  Jumbotron Section -->
    <div class="jumbotron jumbotron-fluid">
      <div class="projects-title">

        <h1>My Projects</h1>
      </div>
    </div>

    <!-- Main Section -->
    <div class="container-fluid">
        <div class="project1">
          <div class="commodity_description">
            <div class="p1_title">Shiny App on Nicaraguan commodity imports and exports</div>
            I was born and raised in Nicaragua and I was really interested in working on a project about the country. I found that the United Nations have a database with import/export commodity informations for most countries. 
            This was a great data set to learn how to use leaflet and how to work with json data. 
          </div>
          <a href="https://sortizaburto.shinyapps.io/final_project/">
            <div class="commodity_app_photo"></div>
          </a>
        </div>
    </div>
  <!-- Footer Section-->

  <footer class="row footer">
    <p> Contact </p>
    <ul>
      <a target="_blank" href="https://www.linkedin.com/in/silvio-ortiz-aburto/"><li>LinkedIn</li></a>
      <li> | </li>
      <a target="_blank" href="../static/docs/ortiz_silvio_resume.pdf"><li>Resume</li></a>
      <li> | </li>
      <a href="mailto:silviortiz93@gmail.com"><li>Email</li></a>
    </ul>
  </footer>  




  </body>
</html>
